.flex_container {
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
  align-items: center;
  padding-bottom: 25px;
}

header {
  background-color: rgb(6 59 75);
}

.text ul {
  display: flex;
  justify-content: space-between;
  width: 389px;
}

.text ul a {
  color: #a1b5bb;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.text ul a:hover {
  text-decoration: underline;
}

.button button {
  background: #145e76;
  border-radius: 25px;
  padding: 15px 35px;
  border: none;
  color: #ffffff;
}

.button button:hover {
  cursor: pointer;
  background-color: #fff;
  color: #145e76;
}

.text {
  margin-left: 140px;
}

/*nav end*/

.menu {
  display: flex;
  gap: 34px;
  align-items: center;
}

.menu_left,
.menu_right {
  flex: 1;
}

.button_top button {
  font-family: "Schoolbell", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  color: #ffffff;
  background: #094556;
  border-radius: 30px;
  border: none;
  padding: 15px 30px;
}

.content h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 80px;
  color: #ffffff;
  margin-top: 40px;
  margin-bottom: 30px;
}

.content p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  color: #849499;
  margin-bottom: 50px;
}

.button-header_top {
  padding: 15px 30px;
  font-family: "inter-semibold", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #b6cdd5;
  cursor: pointer;
  background-color: hsl(194.78, 83.13%, 16.27%);
  border: none;
}

.button-header_top:hover {
  background-color: #ffa63a;
  color: #ffffff;
  border-radius: 25px;
  padding: 15px 30px;
  margin: 0px 0px;
}


